<!DOCTYPE html>
<html>
  <head>
    <title>Docoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul>
      <li>
        <%= link_to 'see all doctors', doctors_path %>
      </li>
      <li>
        <%= link_to 'create a new doctor', new_doctor_path %>
      </li>
      <li>
        <%= link_to 'see all patients', patients_path %>
      </li>
      <li>
        <%= link_to 'create a new patient', new_patient_path %>
      </li>
    </ul>
      <div style="color: red;">
        <% if flash[:errors] %>
            <ul>
              <% flash[:errors].each do |error| %>
                <li>
                  <%= error %>
                </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    <h1> 🏥 DOCTOR APP </h1>
    </header>
    <%= yield %>
  </body>
</html>
