<!DOCTYPE html>
<html>
  <head>
    <title>Docoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'see all doctors', doctors_path %>
      <%= link_to 'create a new doctor', new_doctor_path %>
      <div style="color: red;">
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <ul>
              <li>
                <%= error %>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>
    <h1> 🏥 DOCTOR APP </h1>
    </header>
    <%= yield %>
  </body>
</html>
